<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.safer"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <application
      android:name=".MainApplication"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>

      <!-- FCM Start -->
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
      <service android:name="com.evollu.react.fcm.MessagingService" android:enabled="true" android:exported="true">
         <intent-filter>
          <action android:name="com.google.firebase.MESSAGING_EVENT"/>
        </intent-filter>
      </service>

      <service android:name="com.evollu.react.fcm.InstanceIdService" android:exported="false">
        <intent-filter>
          <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
        </intent-filter>
      </service>

      <!-- Local notifications -->
      <receiver android:name="com.evollu.react.fcm.FIRLocalMessagingPublisher"/>
      <receiver android:enabled="true" android:exported="true"  android:name="com.evollu.react.fcm.FIRSystemBootEventReceiver">
          <intent-filter>
              <action android:name="android.intent.action.BOOT_COMPLETED"/>
              <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
              <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
              <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
      </receiver>      
      <!-- FCM end -->

      <!--Auth0 Lock-->
      <activity
        android:name="com.auth0.lock.LockActivity"
        android:theme="@style/Lock.Theme"
        android:screenOrientation="portrait"
        android:launchMode="singleTask">
        <intent-filter>
          <action android:name="android.intent.action.VIEW"/>
          <category android:name="android.intent.category.DEFAULT"/>
          <category android:name="android.intent.category.BROWSABLE"/>
          <data android:scheme="a0m1n1gyprchfx0j7mri2ot9pxx2xk5hyf" android:host="safer.auth0.com"/>
        </intent-filter>
      </activity>
      <!--Auth0 Lock End-->
      <!--Auth0 Lock Embedded WebView-->
      <activity
          android:name="com.auth0.identity.web.WebViewActivity"
          android:theme="@style/Lock.Theme">
      </activity>
      <!--Auth0 Lock Embedded WebView End-->
      <!--Auth0 Lock Passwordless-->
      <activity
          android:name="com.auth0.lock.passwordless.LockPasswordlessActivity"
          android:theme="@style/Lock.Theme"
          android:screenOrientation="portrait"
          android:launchMode="singleTask">
      </activity>
      <activity
          android:name="com.auth0.lock.passwordless.CountryCodeActivity"
          android:theme="@style/Lock.Theme">
      </activity>
      <!--Auth0 Lock Passwordless End-->

    </application>

</manifest>
